{% extends 'base.html.twig' %}

{% block title %}Fill Actualité{% endblock %}

{% block Categorie %}
    <style>

        .hide {
            display: none;
        }

        ::placeholder {
            font-size: 0.6em;
        }
    </style>
    <div class="col-lg-3">
        <div class="all-category">
            <h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>CATEGORIE</h3>
            <!--<div class="form-control"
                 { form_start(form) }}
                  { form_end(form) }}
            </div>-->
            <ul class="main-category">
                <li><a href="#">accessories</a></li>
                <li><a href="#">Immobilier</a></li>
                <li><a href="#">Véhicules</a></li>
                <li><a href="#">Maison</a></li>
                <li><a href="#">Habillement</a></li>
                <li><a href="#">Informatique et Multimedia</a></li>
                <li><a href="#">Loisirs</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block body %}


<!--/ End Header -->
<!-- Slider Area -->
<section class="hero-slider">
    <!-- Single Slider -->
    <div class="single-slider">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-9 offset-lg-3 col-12">
                    <div class="text-inner">
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <div class="hero-text">
                                    <h1><span>Your best place to trade </span>TabDeal</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Single Slider -->
</section>
<!--/ End Slider Area -->
<!-- Start Product Area -->
<div class="product-area section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Article</h2>
                </div>
            </div>
        </div>
        <div class="tab-pane fade show active" id="man" role="tabpanel">
            <div class="tab-single">
                <div class="row">
                    <script src="https://kit.fontawesome.com/b512623766.js" crossorigin="anonymous"></script>
                    {% for article in articles %}
                    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                        <div class="single-product">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="{{ asset(article.getImage) }}"  width="5"  height="5" alt="#">
                                    <img class="hover-img" src="{{ asset(article.getImage) }}" width="5"  height="5" alt="#">
                                </a>
                                <div class="button-head">
                                    <div class="product-action">

                                        <a class="like" href="{{ path('postlike',{'id':article.getId()}) }}"   >

                                            {% if article.isLikedByUser(user,likes) %}
                                                <i id="alike" class="fa-solid fa-heart"></i>
                                            <span>J'aime pas</span></a>
{% else %}

    <i id="alike" class=" ti-heart "></i>
    <span>J'aime</span></a>

    {% endif %}

                                    </div>

                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="product-details.html">{{ article.getTitre }}</a></h3>
                                <div class="product-price">
                                    <span>{{ article.getEtat }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
{% endfor %}

                </div>
            </div>
        </div>





    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function onClickBtnLike(event){
          event.preventDefault();
         const url =this.href;
       // const icone =this.querySelector('i');
           const like=this.querySelector('i');
           const span=this.querySelector('span')

axios.get(url).then(function (response){
    console.log(response);
   /* if(icone.classList.contains('ti-heart')) {
        icone.classList.replace('ti-heart','fa-solid fa-heart');*/
   if(response.data.code==400){
        like.className='fa-solid fa-heart';
       span.innerText='j \'aime pas';
   }

    if(response.data.code==200){
        like.className='ti-heart';
        span.innerText='j \'aime '
    }







})

        }





         document.querySelectorAll("a.like").forEach(function(link){

          link.addEventListener('click',onClickBtnLike)

          })


    </script>
        </div>
    </div>
</div>















{% endblock %}